/* 978px grid (996px wrapper)
   65px column, 18px gutter */

/*
 * ==========================================================
 * Grid
 * ==========================================================
 */

.grid-1, .grid-2, .grid-3, .grid-4, .grid-5, .grid-6, .grid-7, .grid-8, .grid-9, .grid-10, 
.grid-11, .grid-12 {
  display: inline;
  float: left;
  position: relative;
  margin-left: 9px;
  margin-right: 9px; }

.push-1, .pull-1, .push-2, .pull-2, .push-3, .pull-3, .push-4, .pull-4,
.push-5, .pull-5, .push-6, .pull-6, .push-7, .pull-7, .push-8, .pull-8,
.push-9, .pull-9, .push-10, .pull-10, .push-11, .pull-11, .push-12, .pull-12 {
  position: relative; }

/*
 * ==========================================================
 * Alpha - Omega
 * ==========================================================
 */

.alpha {
  margin-left: 0; }

.omega {
  margin-right: 0; }

/*
 * ==========================================================
 * Container
 * ==========================================================
 */

body {
  min-width: 996px; }

.container-12 {
  margin-left: auto;
  margin-right: auto;
  width: 996px; }

/*
 * ==========================================================
 * Columns
 * ==========================================================
 */

.container-12 .grid-1 {
  width: 65px; }

.container-12 .grid-2 {
  width: 148px; }

.container-12 .grid-3 {
  width: 231px; }

.container-12 .grid-4 {
  width: 314px; }

.container-12 .grid-5 {
  width: 397px; }

.container-12 .grid-6 {
  width: 480px; }

.container-12 .grid-7 {
  width: 563px; }

.container-12 .grid-8 {
  width: 646px; }

.container-12 .grid-9 {
  width: 729px; }

.container-12 .grid-10 {
  width: 812px; }

.container-12 .grid-11 {
  width: 895px; }

.container-12 .grid-12 {
  width: 978px; }

/*
 * ==========================================================
 * Prefix
 * ==========================================================
 */

.container-12 .prefix-1 {
  padding-left: 83px; }

.container-12 .prefix-2 {
  padding-left: 166px; }

.container-12 .prefix-3 {
  padding-left: 249px; }

.container-12 .prefix-4 {
  padding-left: 332px; }

.container-12 .prefix-5 {
  padding-left: 415px; }

.container-12 .prefix-6 {
  padding-left: 498px; }

.container-12 .prefix-7 {
  padding-left: 581px; }

.container-12 .prefix-8 {
  padding-left: 664px; }

.container-12 .prefix-9 {
  padding-left: 747px; }

.container-12 .prefix-10 {
  padding-left: 830px; }

.container-12 .prefix-11 {
  padding-left: 913px; }

/*
 * ==========================================================
 * Suffix
 * ==========================================================
 */

.container-12 .suffix-1 {
  padding-right: 83px; }

.container-12 .suffix-2 {
  padding-right: 166px; }

.container-12 .suffix-3 {
  padding-right: 249px; }

.container-12 .suffix-4 {
  padding-right: 332px; }

.container-12 .suffix-5 {
  padding-right: 415px; }

.container-12 .suffix-6 {
  padding-right: 498px; }

.container-12 .suffix-7 {
  padding-right: 581px; }

.container-12 .suffix-8 {
  padding-right: 664px; }

.container-12 .suffix-9 {
  padding-right: 747px; }

.container-12 .suffix-10 {
  padding-right: 830px; }

.container-12 .suffix-11 {
  padding-right: 913px; }

/*
 * ==========================================================
 * Push
 * ==========================================================
 */

.container-12 .push-1 {
  left: 83px; }

.container-12 .push-2 {
  left: 166px; }

.container-12 .push-3 {
  left: 249px; }

.container-12 .push-4 {
  left: 332px; }

.container-12 .push-5 {
  left: 415px; }

.container-12 .push-6 {
  left: 498px; }

.container-12 .push-7 {
  left: 581px; }

.container-12 .push-8 {
  left: 664px; }

.container-12 .push-9 {
  left: 747px; }

.container-12 .push-10 {
  left: 830px; }

.container-12 .push-11 {
  left: 913px; }

/*
 * ==========================================================
 * Pull
 * ==========================================================
 */

.container-12 .pull-1 {
  left: -83px; }

.container-12 .pull-2 {
  left: -166px; }

.container-12 .pull-3 {
  left: -249px; }

.container-12 .pull-4 {
  left: -332px; }

.container-12 .pull-5 {
  left: -415px; }

.container-12 .pull-6 {
  left: -498px; }

.container-12 .pull-7 {
  left: -581px; }

.container-12 .pull-8 {
  left: -664px; }

.container-12 .pull-9 {
  left: -747px; }

.container-12 .pull-10 {
  left: -830px; }

.container-12 .pull-11 {
  left: -913px; }